.app {
  width: 100%;
}

.app__body {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  z-index: 1;
}


.app__item__container {
  max-width: 1400px;
  margin:-15% auto 5em auto;
  padding: 1em;
}

.app__row {
  display: flex;
  z-index: 1;
  overflow: auto;
  overflow-y: hidden;
  
}

.app__row::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.app__row {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}